<!DOCTYPE html>
<html lang="ru">
  <head>
    <% content_tag "title" do %>
      Карта кладбищ СПб<%= " | #{yield_content(:title)}" if yield_content(:title)  %>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "site", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags(shim_src: "javascripts/vendor/es-module-shims.js") %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
