<div class="leaflet-sidebar-tabs">
  <ul role="tablist"> <!-- top aligned tabs -->
    <li>
      <a href="#list" role="tab">
        <span class="material-symbols-outlined">
          reorder
        </span>
      </a>
    </li>
    <li class="disabled">
      <a href="#entry" role="tab">
        <span class="material-symbols-outlined">
          church
        </span>
      </a>
    </li>
  </ul>
  <ul role="tablist"> <!-- bottom aligned tabs -->
    <li>
      <a href="#about" role="tab">
        <span class="material-symbols-outlined">
          question_mark
        </span>
      </a>
    </li>
  </ul>
</div>