<div class="leaflet-sidebar-pane" id="about">
  <h1 class="leaflet-sidebar-header">
    Что происходит?
    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left">X</i></div>
  </h1>
    <h2>Что-то происходит</h2>
    <p>Static content will go here</p>
</div>
