<div class="leaflet-sidebar-pane" id="about">
  <h1 class="leaflet-sidebar-header">
    Что происходит?
    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left">X</i></div>
  </h1>
    <div class="content">
      <%= partial "partials/tabs/about_content" %>
    </div>
</div>
