  <div class="leaflet-sidebar-pane" id="entry-info">
    <h1 class="leaflet-sidebar-header">
      <div class="leaflet-sidebar-close"><i class="fa fa-caret-left">X</i></div>
    </h1>
    <div id="content-container-entry-info">
      <%= partial "partials/tabs/entry_content" %>
    </div>
  </div>