<div class="leaflet-sidebar-pane" id="entry">
  <h1 class="leaflet-sidebar-header">
    <div class="leaflet-sidebar-close"><i class="fa fa-caret-left">X</i></div>
  </h1>

  <div class="content">
    <% if cemetery %>
      <% content_tag "turbo-frame", id: "entry-content", data: { id: data.send(cemetery).id } do %>
        <%= partial "partials/tabs/entry_content", locals: { cemetery: data.send(cemetery) } %>
      <% end %>
    <% else %>
      <%= tag "turbo-frame", id: "entry-content", data: { id: 0 } %>
    <% end %>
  </div>

</div>