<h2 class="list-heading">Старые и новые кладбища Петербурга</h2>
<ul id="cemetery-list" data-controller="catalogue">
  <% data.catalogue.each do |cemetery_name| %>
    <% cemetery = data.send(cemetery_name) %>
    <li>
      <%# image_tag cemetery.main_thumb_pic_link, class: "list-entry-pic" %>
      <%= link_to cemetery.name, cemetery.path, class: 'cemetery-preview',
        data: {
          turbo_frame: "entry-content",
          turbo_action: "advance",
          catalogue_target: "cemetery",
          action: "click->map#toEntry",
          map_id_param: cemetery.id,
          id: cemetery.id,
          path: cemetery.path,
          coordinates: cemetery.coordinates,
         } %>
    </li>
  <% end %>
</ul>
