<main>
  <%= tag "div",id: "map",
                  data: {
                  controller: "map",
                  action: "catalogue:process->map#drawPolygon catalogue:finish->map#toInitialEntry",
                  map_start_point_value: JSON.dump([59.8965, 30.3264])
                  } %>
  <%= partial "partials/sidebar", locals: { cemetery: cemetery } %>
</main>