<main>
  <% content_tag "div",id: "map-container",
                data: {
                  controller: "map",
                  action: "cemetery:connect->map#drawPolygon cemetery:connect->map#toInitialEntry"
                  } do %>
    <div id="map" class="sidebar-map"></div>
    <%= partial "partials/sidebar", locals: { cemetery: cemetery } %>
  <% end %>
</main>