<main>
  <%= tag "div",id: "map",
                  data: {
                  controller: "map",
                  action: "cemetery:connect->map#drawPolygon cemetery:connect->map#toInitialEntry"
                  } %>
  <%= partial "partials/sidebar", locals: { cemetery: cemetery } %>
</main>