<div class="gallery-container">
  <h3>Галерея</h3>
  <a href="" class="gallery-n-more-link-top lightbox-opener">Смотреть все (CКОЛЬКО?) фото</a>

  <% content_tag "ul", id: "gallery", data: { controller: "gallery" } do %>
    <% cemetery.photos&.each_with_index do |photo, index| %>
      <li>
        <%= partial "partials/tabs/components/gallery_pic", locals: locals_for_gallery_pic(cemetery, photo, index) %>
      </li>
    <% end %>

  <% end %>
</div>




