<% link = "images/vendor/#{cemetery.path}/" %>
<% original_path = link + "#{photo.cid}_original.jpg" %>
<% locals = {
  photo:              photo,
  original_path:      original_path,
  custom_placeholder: nil,
  custom_attributes:  nil
} %>
<% custom_locals = nil %>


<li>
  <% if index == 5 %>
    <% custom_locals = {
      custom_placeholder: "Ещё #{cemetery.photos.count - 5} фото",
      custom_attributes: { class: "gallery-n-more-link lightbox-opener" }
    } %>
  <% elsif index > 5 %>
     <% custom_locals = {
      custom_placeholder: ""
     } %>
  <% end %>

  <%= partial "partials/tabs/components/gallery_pic2", locals: custom_locals&.reverse_merge(locals) || locals %>
</li>
