<div class="years">
  <% unless cemetery.y_open.to_s.empty? %>
    <p>Год открытия: <%= cemetery.y_open %></p>
  <% end %>

  <% unless cemetery.y_close.to_s.empty? %>
    <p>Год закрытия: <%= cemetery.y_close %></p>
  <% end %>
</div>
